pandas==2.1.1           # Para cargar y manipular datos
numpy==1.26.0           # Para cálculos numéricos y manipulación de arrays
matplotlib==3.8.0       # Para crear gráficos 2D y 3D
scipy==1.11.2           # Para cálculos matemáticos y métricas de distancia
sklearn==1.0.2          # Para implementar algoritmos de Machine Learning
plotly==5.3.1           # Para crear gráficos interactivos
